.navbar {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.navbar>div>form>img {
  height: 12px;
  margin-left: .5em;
}

.navbar>ul {
  margin: 0;
  padding: 0;
}

.navbar>ul>li {
  list-style: none;
  display: inline-block;
}

.navbar>ul>li>a {
  text-decoration: none;
  display: block;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 400;
  color: #565673;
  padding: 0 10px;
}

.searchForm {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.searchInput {
  border: 0;
  width: 0;
  transition: width 500ms ease-in
}

.searchInput.active {
  width: 150px;
}

.searchInput:focus {
  outline: none;
}

.icon {
  cursor: pointer;
}